
# IDE and dev files
.venv
.idea

# Build results
/bluemap/**/*.pyd
/bluemap/**/*.cpp
/bluemap/**/*.c
/bluemap/**/*.html
build/
wheelhouse/
dist/
docs/
junit/
__pycache__/
*.egg-info/
cmake-build-*/
cpp/stb_image_write.h

# Input & Output files of the program
data*/
out/
*.dat

*.png
*.jpg
*.csv
*.exr